@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

$raisin-black: #18171c;
$rich-black: #0a0a0a;
$french-blue: #0e72b3;
$darker-blue: #0c5f97;
$white: #FFFFFF;

// Update Bulma's global variables
//background coloring
$body-background-color: $raisin-black;
$body-color: $white;

//text coloring
$box-color: $raisin-black;
$box-background-color: $white;
$text: $white;
$text-strong: $white;
$family-sans-serif: "Nunito", sans-serif;

//Color shemes
$primary: $rich-black;
$scheme-main: $rich-black;

//Links
$link: $french-blue;
$link-hover: $darker-blue;
$link-active: $french-blue;
$link-focus: $french-blue;
$tabs-link-color: $french-blue;
$tabs-link-hover-color: $darker-blue;

//footer
$footer-padding: 1rem 1rem;
$footer-background-color: $rich-black;

//navbar
$navbar-height: 7rem;
$navbar-padding-horizontal: 2rem;
$navbar-item-img-max-height: 5.75rem;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import '..//node_modules/bulma/bulma.sass';